.search {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 25px;
}

.label {
  font-size: 20px;
  font-weight: 700;
}

.input {
  border-radius: 2px;

  height: 25px;
  opacity: 40%;
}
