.container {
  margin: 50px auto;
  width: 900px;
  background-color: rgb(178, 178, 179);
  background-image: rgb(210, 250, 252);
  padding: 15px;
  border-radius: 8px;

  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
}

.heading {
  color: rgb(39, 38, 38);
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.904);
  margin: 0;
}
